<header style="
  width: 100%;
  background: #000000;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 998;
  border-bottom: 10px solid #ec03e0;
  border-bottom-left-radius:45px;
  border-bottom-right-radius: 45px;
  box-sizing: border-box;
">
  <a href="index.html">
    <img src="imagens/logo-cyber.png" alt="CyberPlayThings" style="height: 60px; max-width: 100%;" />
  </a>
</header>

<!-- Espaço para empurrar o conteúdo abaixo do header -->


<div style="height: 80px;"></div> 



